* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  /* border: 2px solid rgb(12, 223, 65); */
  width: 100%;
  height: 100%;
  background-color: white;
  /* padding: 30px 100px 0px 100px; */
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 5rem;
}
.logo h3 {
  /* border: 2ps solid black; */
  width: 1rem;
  display: flex;
  flex-direction: row;
}
/* #siren-img {
  width: 5rem;
  height: 3rem;
  object-fit: cover;
} */

.logo p {
  height: auto;
  width: auto;
  font-size: 1.3rem;
  transform: rotate(-90deg);
}
.logo span {
  color: rgb(222, 5, 5);

  font-weight: 900;
  font-size: 3.5rem;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 2rem;
}
.nav-text {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}
.data-main-bock {
  width: 65%;
  margin-top: 30px;
  /* border: 2px solid rgb(209, 14, 14); */
}
.hr-top {
  height: 0.15rem;
  width: 2.7rem;
  background-color: red;
  border: 0px;
  border-radius: 20px;
}
.home-main,
.main-block {
  width: 100%;
  height: 100%;

  padding: 30px 70px 0px 70px;
}

.data-block {
  width: 90%;
  gap: 10px;
  /* border: 2px solid black; */
  margin: 20px 0px;
  display: flex;
  align-items: center;
  flex-direction: row;
  object-fit: cover;
}
.data-block-text-img {
  height: 10rem;
  width: 12rem;

  /* border: 2px solid rgb(255, 28, 28); */
}
.data-block-text-img img {
  height: 10.2rem;
  width: 12rem;
  border-radius: 5px;
  object-fit: cover;
  /* border: 2px solid rgb(60, 55, 201); */
}

.data-block-text {
  width: 100%;
  display: flex;

  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  /* border: 2px solid rgb(60, 55, 201); */
}

.data-block-text p,
.data-block-text h3 {
  font-size: 1.1rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 100%;
  color: rgb(108, 104, 104);
  /* border: 2px solid rgb(55, 201, 130); */
}
.data-block-text h3 {
  font-size: 1.2rem;
  color: black;
  font-weight: 900;
  /* border: 2px solid rgb(55, 201, 130); */
}
.hr {
  width: 95%;
}

.main-block {
  display: flex;
  flex-direction: row;
}
.mainstory {
  width: 100%;
}
.story-block {
  margin-top: 30px;

  width: 35%;
}
.story-inner-block {
  width: 100%;
}
#story1-img {
  width: 100% !important;
  height: 12rem !important;
  border-radius: 5px;
  /* object-fit: cover; */
}

.topstory {
  /* border: 2px solid rgb(229, 212, 23); */
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.topstory-text {
  width: 65%;
}
.div-num {
  font-size: 2.5rem;
  color: rgb(198, 200, 202);
}

.belowtop-main {
  width: 100%;
}
.belowtop {
  width: 75%;
  /* border: 5px solid black; */
  margin: 10px 0px;
}
.home-story-left {
  margin-top: 3rem !important;
}
#belowtop-img {
  height: 5rem !important;
  width: 5rem !important;
  border-radius: 5px;
}
.belowtop-text {
  width: 60%;
}

.belowtop-text h3 {
  font-size: 1rem;
}
.belowtop-text p {
  font-size: 0.8rem;
}
.belowtop-block {
  /* border: 2px solid green; */
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.belowtop-main {
  margin-top: 10px;
}

.ad-data {
  margin-top: 2.7rem;
}

.ad img {
  margin-top: 15px;
  width: 100%;
  height: 36rem;
  border-radius: 5px;
}
.ad-data img {
  border-radius: 5px;
  position: sticky;
  top: 2px;
}
.dynamic-header {
  margin: auto;
  display: flex;
  align-items: center;
  width: 70%;

  align-items: center;
  justify-content: space-between;
}
.dynthe {
  width: fit-content;
  height: fit-content;
  transform: matrix(0, -1, 1, 0, 0, 0);
  font-size: 21px;
  color: #000000;
  padding-top: 14px;
  margin-right: 10px;
}
.dynsiren {
  color: red;
  display: flex;
  align-items: center;

  height: 60px;
  font: normal normal bold 71px Montserrat;
}
.dynamic-header-name {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.dynamic-header:hover {
  cursor: pointer;
}
.dynamic-block {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 1rem 0rem;
}
.load-more {
  margin: 10px 0px;
  border: 0px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  width: 5rem;
  height: 2rem;
  background-color: rgb(0, 0, 0);
}
.clap {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  width: 25%;
  /* border: 2px solid rgb(0, 0, 0); */
  height: 7rem;
  position: sticky;
  padding-left: 0.5rem;
  top: 250px;
}
#cimg {
  width: 1.8rem;
  height: 1.8rem;
}
.clap-inner {
  gap: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.8rem;
}
.down-clap-inner {
  font-size: 1.5rem;
}
.dynamic-middle {
  align-items: center;

  /* border: 2px solid rgb(255, 0, 0); */
  width: 50%;
}
.middle-below-block {
  /* border: 2px solid rgb(255, 0, 0); */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#userimg1 {
  width: 3.5rem !important;
  height: 3.5rem !important;
}
.userimg-date {
  font-size: 0.6rem;
  color: gray;
}
.dynamic-heading {
  width: 100%;
  /* border: 2px solid black; */
}
.user {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  /* border: 2px solid red; */
  height: 4rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.userdetails {
  /* border: 2px solid rgb(0, 0, 0); */
  height: 4.5rem;
  /* width: 50%; */
  gap: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#userimg {
  width: 4.5rem !important;
  height: 4.5rem !important;
}
.dynamic-img {
  width: 100%;
  object-fit: cover;
}
.dyn-down-hr {
  width: 10.2rem;
  margin: 0.7rem 0rem;
}
.dynamic-img-block {
  /* border: 2px solid red; */
  margin-top: 2rem;
  width: 100%;
  align-items: center !important;
  text-align: justify;
}
.dynamic-img-block p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
  margin: 1.5rem 0rem;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}
.more-from {
  /* border: 2px solid rgb(17, 16, 16); */
  /* padding: 10px 60px; */
  width: 100%;
}

.more-from-container {
  width: 100%;
  /* border: 20px solid rgb(182, 26, 26); */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0px;
  padding: 0px 2rem;
}
.more-from-heading {
  margin-left: 2rem;
}
.more-from-inner {
  /* border: 2px solid red; */
  width: 100%;
}
.div1,
.div2,
.div3 {
  /* border: 2px solid rgb(0, 0, 0); */
  width: 27%;
}
.more-from-inner img {
  width: 100%;
  height: 12rem;
  border-radius: 10px;
  object-fit: cover;
}
.more-from-inner h3 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
#userimg2 {
  width: 3rem !important;
  height: 3rem !important;
}
.dynamic-img-text p {
  margin-top: 2rem;
}
.dynamic-img-text h3,
.dynamic-img-text p {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.dynamic-links {
  width: 100%;
  /* border: 2px solid red; */
  gap: 1rem;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  cursor: default;
}
.dynamic-links img,
.data-block-text h3 {
  cursor: pointer !important;
}
.dynamic-btn {
  width: 5rem;
  height: 3rem;
  color: white;
  background-color: rgb(47, 49, 49);
  border: 0px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
}
.dynamic-btn:hover {
  border: 2px solid black;
  background-color: white;
  /* border: 1px solid rgb(47, 49, 49); */
  color: rgb(47, 49, 49);
}
.home-block1 {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.big {
  /* border: 2px solid black; */
  width: 63%;
  height: 100%;
}
.home-first-big-side-inner {
  /* border: 10px solid black; */
  width: 100%;
  height: 12rem;
  margin-bottom: 1rem;
  position: relative;
}
.home-first-big-side-img {
  /* border: 2px solid rgb(255, 0, 0); */
  width: 100%;
  height: 100%;
}
.home-first-big-img {
  /* border: 2px solid rgb(255, 0, 0); */
  width: 100%;
  height: 25rem;
}

#h-first-big {
  /* height: 24rem !important; */
  width: 100%;
  height: 25rem;
  object-fit: cover;
  border-radius: 5px;
}
.home-first-big {
  width: 100%;
  height: 25.5rem;
}
.home-first-big-inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.home-first-big-text h3,
.home-first-big-side-text h3 {
  color: #fff;
  font-size: 1.3rem;
  background-color: rgba(62, 62, 60, 0.19);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 50%;
}

.big-side {
  /* border: 2px solid rgb(255, 32, 2); */
  width: 34%;
  height: 25rem;
}
#home-big-side-img {
  /* border: 2px solid rgb(98, 0, 211); */
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}
.home-first-big-side-text {
  /* border: 2px solid rgb(255, 226, 8); */
  width: 100%;
  height: 100%;
}

.home-block2-main {
  width: 100%;
  margin-top: 1.5rem;
  /* display: flex;
  flex-direction: row; */
}
.home-block2 {
  margin: 2rem 0rem;
  /* border: 2px solid rgb(56, 202, 23); */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.home-block2-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid rgb(13, 12, 12); */
  width: 27%;
}
.h-block2-img {
  width: 100%;
  height: 11rem;
}
.h-block2-img img {
  object-fit: cover;
  width: 100%;
  height: 11rem;
  border-radius: 5px;
  /* border: 2px solid red; */
}
.h-block2-img-text {
  /* border: 2px solid red; */
  width: 90%;
  height: 6.5rem;
  margin: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.h-block2-img-text h3 {
  font-size: 1.2rem;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 100%;
}
.h-block2-img-text p {
  font-size: 1.1rem;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 100%;
  color: rgb(108, 104, 104);
}

.home-block3-main {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.home-block3-right {
  /* border: 2px solid red; */
  width: 65%;
}
.home-block3-left {
  /* border: 2px solid rgb(0, 0, 0); */
  width: 33%;
}
.h-block3-right-firstblock {
  margin: 2rem 0rem;
  width: 100%;
  height: 10.5rem;
}
.hr-3 {
  margin: 2rem 0rem;
}

.h3-block-img {
  width: 35%;
  /* border: 2px solid rgb(0, 0, 0); */
}
#h-block3-img {
  width: 100%;
  height: 11rem;
  border-radius: 5px;
}

.h-block3-right1 {
  /* border: 2px solid rgb(194, 7, 7); */
  width: 100%;
  gap: 1rem;
  align-items: center;
  height: 11rem;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}
.h-block3-right1-text {
  width: 60%;
  /* border: 2px solid rgb(66, 7, 194); */
}
.h-block3-right1-text-inner p {
  /* border: 2px solid rgb(66, 7, 194); */

  font-size: 1.1rem;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 100%;
  color: rgb(108, 104, 104);
}
.h-block3-right1-text-inner h3 {
  color: black;
  font-size: 1.2rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 100%;
}
.h-block3-right1-text-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 2px solid green; */
  height: 10.5rem;
  width: 100%;
}
.h-block3-right-2block {
  margin: 2.3rem 0rem;
}

.h-block3-2block {
  /* border: 2px solid rgb(252, 241, 22); */
  margin: 1rem 0rem;
  display: flex;
  flex-direction: row;
}
.h-block3-2block-img {
  /* border: 2px solid rgb(255, 0, 0); */
  width: 15rem;
  height: 9rem;
}
.h-block3-2block-img img {
  width: 100%;
  height: 9rem;
  border-radius: 5px;

  object-fit: cover;
}
.h-block3-2block-text {
  /* border: 2px solid rgb(255, 0, 0); */
  display: flex;
  margin-left: 1rem;
  flex-direction: column;
  justify-content: space-between;
  width: 25rem;
  /* border: 2px solid rgb(255, 255, 7); */
}
.h-block3-2block-text h3,
.h-block3-2block-text p {
  font-size: 1.1rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 100%;
  color: rgb(108, 104, 104);
}
.h-block3-2block-text h3 {
  font-size: 1.2rem;
  color: black;
  font-weight: 900;
}
.h-block3-right-3block img {
  margin-top: 0px;
  width: 100%;
  height: 21.3rem;
  border-radius: 5px;
}
.video iframe {
  margin-top: 2rem;
  width: 100% !important;
  height: 38rem !important;
}
#h-b3-left-topstory {
  /* border: 2px solid red; */
  margin: 0rem 0rem;
  width: 100%;
}
.Latest-Story-top {
  margin-top: 2rem;
}

.story-container {
  /* border: 2px solid rgb(255, 251, 0); */
  padding: 2rem 2rem;
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

.latest-story1,
.latest-story2,
.latest-story3 {
  /* border: 2px solid rgb(0, 0, 0); */
  width: 30%;
  height: 17rem;
}
.hidden {
  display: none;
}
.latest-story {
  width: 100%;
  height: 17rem;
  /* border: 2px solid rgb(0, 0, 0); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.latest-story-text {
  width: 100%;
  height: 13rem;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.latest-story-text p {
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.latest-story-text h3 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.footer {
  width: 100%;

  background-color: #0f3460;
  padding: 100px 0;
  color: #fff;
  background: black;
  display: flex;
  justify-content: space-evenly;
}
.footerContainer {
  width: 20%;
  /* height: 12rem; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.fotterSiren-logo {
  /* border: 1px solid rgb(255, 255, 255); */
  display: flex;
  flex-direction: row;
  gap: 0px;
}
.fotterSiren-logo p {
  font-size: 1rem;
  transform: rotate(-90deg);
}
.fotterSiren-logo span {
  color: red;
  margin-left: -1rem;
}

.footerContainer h1 {
  margin: 0;
  padding: 0;
  color: white;
}

.footerContainer .the {
  color: white;
}
.footerContainer > h1 > div {
  width: fit-content;
  height: 35px;
  margin-bottom: 0;
}
.footerContainer div,
.footerContainer a {
  margin-top: 10px;
  display: flex;
  text-align: center;
}
.FooterNonActiveNav {
  color: white;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: white;
}
.copyRight {
  display: flex;
  align-items: center;
}
@media (max-width: 750px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }
  .footerContainer {
    width: 100%;
    align-items: center;
  }
  .footer .siren {
    font: normal normal bold 61px Montserrat;
  }
}

@media (max-width: 650px) {
  .home-main {
    width: 100%;
    height: 100%;
    padding: 0px 25px !important;
    display: flex;
    flex-direction: column;
  }

  .home-block1 {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 15px;
  }

  .big,
  .home-first-big-side-inner,
  .big-side {
    width: 100%;
    height: 100%;
  }
  .home-first-big-img,
  .home-first-big-side-img {
    width: 100%;
    height: 15rem;
  }
  #h-first-big,
  .home-big-side-img {
    width: 100%;
    height: 100%;
  }
  .home-block2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home-block2-inner {
    width: 50%;
    margin: 10px 0px;
  }
  .main-block {
    display: flex !important;
    flex-direction: column !important;
    padding: 0px 25px !important;
  }
  .data-main-bock {
    width: 100% !important;
    /* border: 2px solid red !important; */
  }
  .data-block {
    width: 100%;
  }
  .data-block-text {
    width: 40% !important;
    display: flex;
    justify-content: space-between;
  }
  .data-block-text h3,
  #data-block-text-p {
    font-size: 1rem !important;
  }
  .data-block-text p {
    font-size: 0.8rem;
  }

  .dynamic-links {
    display: flex !important;
    flex-direction: row !important;
    gap: 1rem;
  }
  .story-block {
    width: 100%;
  }
  .story-inner-block {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  #story1-img {
    width: 100%;
    height: 230px !important;
    object-position: top;
    object-fit: cover;
  }
  .belowtop {
    margin: 10px 0px;

    width: 100%;
    height: 6rem;
  }
  .belowtop-block {
    margin-top: -10x !important ;
  }
  #belowtop-img {
    width: 40% !important;
    height: 6rem !important;
  }
  /* #story1-img {
    width: 30% !important;
    height: 6rem !important;
  } */
  #belowtop-img {
    width: 32% !important;
    height: 6rem !important;
  }

  /* for dynamic */
  .dynamic-header {
    width: 70%;
  }

  .dynthe {
    font-size: 1rem;
  }
  .dynsiren {
    font-size: 4rem;
  }
  .dynamic-btn {
    width: 4.5rem;
    height: 2.5rem;
  }
  .middle-below-block {
    margin-top: 2rem !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: normal !important;
  }
}
@media (max-width: 600px) {
  .home-block3-main {
    display: flex;
    flex-direction: column;
  }
  .ad-video {
    display: none;
  }
  .home-block3-right {
    width: 100%;
  }
  .home-block3-left {
    width: 100%;
    margin-top: 1rem;
  }
  .mainstory {
    width: 100%;

    /* height: 8rem; */
  }

  .story-block {
    margin-top: 2rem !important;
  }
  .topstory-text {
    width: 100%;
  }
  .topstory-text h3 {
    font-size: 1rem;
  }
  .topstory-text p {
    font-size: 0.8rem;
  }
  .mainstory-INNER,
  .belowtop {
    width: 100%;
    display: flex;
    flex-direction: row !important;
    gap: 1rem;
  }

  .story-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .Latest-Story-top {
    margin-bottom: 0px;
  }
  .latest-story1,
  .latest-story2,
  .latest-story3 {
    width: 70% !important;
  }
  .hidden {
    width: 72%;
    height: 2px;
  }
  /* for dynamic */
  .dynamic-middle {
    width: 100%;
    padding: 0rem 2rem;
  }
  .clap {
    display: none;
  }
  .middle-below-block {
    display: flex;
    justify-content: center;
    align-items: center !important;
  }
  .divuserdetails img,
  .divuserdetails-p {
    display: none;
  }
  .more-from-container {
    display: flex;
    flex-direction: column;
  }
  .div1,
  .div2,
  .div3 {
    width: 100%;

    display: flex;
    flex-direction: row-reverse;
    position: relative;
    margin: 1rem 0rem;
  }
  .more-from-inner {
    display: flex;
    flex-direction: row-reverse;
  }
  .divuserdetails p {
    position: absolute;
    top: 80%;
  }
  .more-from-inner img {
    width: 9rem;
    height: 6rem;
    object-fit: cover;
  }
  #more-from-headtext {
    position: absolute;
    left: 0px;
    width: 40%;
    /* display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden; */
  }
}

@media (max-width: 400px) {
  /* home block */

  .h-block3-2block-img {
    width: 12rem;
    height: 7rem;
    display: flex;
    align-items: center;
  }
  .h-block3-2block-img img {
    width: 100%;
    height: 6rem;
  }
  .h-block3-2block-text p {
    font-size: 0.9rem;
  }
  .hamburger {
    width: 40px !important;
    height: 20px !important;
  }

  /* navlink part */
  .dynamic-links {
    width: 100%;
    height: 6.5rem !important;
  }
  .data-block-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px !important;
  }
  .belowtop-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .data-block-text-img {
    width: 13rem;
    height: 10rem;
  }
  .data-block-text-img img {
    width: 100% !important;
    height: 6.8rem !important;
  }

  /* dynamic compo */
  .more-from-inner img {
    width: 6rem;
    height: 6rem;
    object-fit: cover;
  }
  .home-block2-inner {
    width: 80%;
  }
  .story-container {
    padding: 2rem 0rem;
  }
  .latest-story {
    display: flex;
    align-items: center !important;
  }
  .latest-story1,
  .latest-story2,
  .latest-story3,
  .latest-story-text {
    width: 90% !important;
  }
  .latest-story-text p,
  .latest-story-text h3 {
    width: 100% !important;
  }
  #tech-main-img img {
    width: 8rem !important;
    height: 6rem !important;
  }
}
